@font-face {
    font-family: 'spaceGrotesk';
    src: url(./assets/font/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'nunito';
    src: url(./assets/font/Nunito-VariableFont_wght.ttf);
}

:root {
    --AzulClaro: #15BBEE;
    --AzulEscuro: #195AA9;
    --Branco: #FFFFFF;
    --Cinza: #D5D6D8;
    --CinzaEscuro: #343434;
    --Roxo: #54499E;
    --Verde: #89C53F;
    --Rosa: #F166A7;
}

.colorAzulClaro {
    color: var(--AzulClaro);
}

.colorAzulEscuro {
    color: var(--AzulEscuro);
}

.colorBranco {
    color: var(--Branco);
}

.colorCinza {
    color: var(--Branco);
}

.colorCinzaEscuro {
    color: var(--CinzaEscuro);
}

.colorRoxo {
    color: var(--Roxo);
}

.colorVerde {
    color: var(--Verde);
}

.colorRosa {
    color: var(--Rosa);
}

.titulo {
    font-size: 24px;
    font-family: 'spaceGrotesk';
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    font-family: 'spaceGrotesk';
    font-weight: bold;
    max-width: 600px;
}

.texto {
    font-size: 16px;
    font-family: 'nunito';
    max-width: 600px;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'nunito';
    font-size: 16px;
    color: var(--CinzaEscuro);
    scroll-behavior: smooth;
}

button {
    font-weight: bold;
}

.header {
    background-color: var(--Branco);
    height: 5vh;
    padding: 2vh 6vw;

    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: row;

    position: sticky;
    top: 0;
    z-index: 1;

    border-bottom: 4px solid;
    border-image: linear-gradient(to right, var(--AzulEscuro), var(--AzulClaro), var(--Verde), var(--Rosa), var(--Roxo)) 1;
}

.header .logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header .logo .logo-group {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 40px;
    align-items: center;
}

.header .logo img {
    height: 90%;
    width: auto;
    color: white;
    max-height: 40px;
}

.header .menu-hide .icon {
    display: none;
}

.header .menu-header {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}

.header .menu-header li {
    list-style-type: none;
}

.header .menu-header li a {
    font-family: 'spaceGrotesk';
    font-weight: bold;
    color: var(--Rosa);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    text-decoration: none;
}

.header .menu-header a:hover {
    border-bottom: 3px solid white;
    animation-name: bannerTextImg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.banner {
    background-image: url(./assets/imgs/exa_portraits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 12vh 6vw;
    gap: 20px;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff, #c8da2a00);
}

@keyframes bannerTextImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.banner .banner-text img {
    width: 10vw;
    max-width: 400px;
    animation-name: bannerTextImg;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.banner .banner-text a {
    border: none;
    background-color: var(--Rosa);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

@keyframes buttonHoverColor {
    from {
        background-color: var(--Rosa);
    }

    to {
        background-color: var(--Roxo);
    }
}

.banner .banner-text a:hover {
    animation-name: buttonHoverColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.programa {
    display: flex;
    flex-direction: row;
    padding: 6vh 6vw;
    justify-content: center;
}

.programa .sideA {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.programa .sideB img {
    max-height: 300px;
}

.programa .sideB {
    justify-content: flex-end;
    display: flex;
}


.descricao {
    display: flex;
    flex-direction: row;
    padding: 6vh 6vw;
    justify-content: center;
    background-color: var(--Rosa);
}

.descricao .sideA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.descricao .sideB img {
    max-height: 300px;
}

.descricao .sideB {
    justify-content: flex-start;
    display: flex;
}

.datasImportantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0;
    gap: 40px;
    background-color: var(--Roxo);
}

.datasImportantes .cardGroup {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.datasImportantes .card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px
}

.datasImportantes .card .important {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
}

.datasImportantes .card .line {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.datasImportantes .card .line .partOne {
    background: white;
    flex: 0.47;
    height: 4px;
}

.datasImportantes .card .line .circle {
    background: white;
    border-radius: 50%;
    flex: 0.06;
    aspect-ratio: 1/1;
}

@keyframes buttonHoverShadowWhite {
    from {}

    to {
        box-shadow: 0 0 20px 4px #ffffff4d;
    }
}

.datasImportantes a {
    border: none;
    background-color: var(--Verde);
    padding: 8px 16px;
    border-radius: 4px;
    text-wrap: nowrap;
    text-decoration: none;
}

.datasImportantes a:hover {
    animation-name: buttonHoverShadowWhite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.diferenciais {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 6vw;
    gap: 40px;
}

.diferenciais .cardGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.diferenciais .cardGroup .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.diferenciais .cardGroup .card img {
    max-height: 60px;
    width: 100%;
}

.exa {
    display: flex;
    flex-direction: row;
    padding: 12vh 6vw;
    background-image: url(./assets/imgs/backgroundExa.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    gap: 40px;
    flex-wrap: wrap;
}

.exa .sideA {
    flex-grow: 1;
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.exa .sideA .video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.exa .sideB {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    text-align: right;
}

.exa .sideB img {
    height: 60px;
}

.exacta {
    display: flex;
    flex-direction: row;
    padding: 12vh 6vw;
    background-image: url(./assets/imgs/backgroundExACTa.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    gap: 40px;
    flex-wrap: wrap;
}

.exacta .sideA {
    flex-grow: 1;
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.exacta .sideA .video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.exacta .sideB {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

.exacta .sideB img {
    height: 60px;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 4vw;
    gap: 40px;
    background-color: var(--Cinza);
}

.perguntas .cardGroup {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.perguntas .cardGroup .card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 2px solid var(--CinzaEscuro);
}

.perguntas .cardGroup .card #quem-pode,
#qual-local,
#a-participacao,
#posso-fazer {
    display: none;
    flex-direction: column;
    gap: 12px
}

.perguntas .cardGroup .card .title {
    cursor: pointer;
    background-image: url(./assets/imgs/chevron-down.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    padding-right: 16px;
}

.perguntas .button {
    border: none;
    background-color: var(--Branco);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

@keyframes buttonHoverShadowBlue {
    from {}

    to {
        box-shadow: 0 0 20px 4px var(--Branco);
    }
}

.perguntas .button:hover {
    animation-name: buttonHoverShadowBlue;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.footer {
    background-color: var(--CinzaEscuro);
    padding: 8vh 4vw;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .sideA {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer .sideB {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer .sideB .linkGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos {
    background-color: var(--CinzaEscuro);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 8vh;
    justify-content: center;
    flex-wrap: wrap
}

.logos img {
    height: 40px;
}

.move-up {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    display: block;

}

.move-up img {
    height: 4vh;
    background-color: var(--Verde);
    border-radius: 100%;
    padding: 1vh;
}

.show {
    display: flex !important;
}

@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: fit-content;
    }

    .header .logo {
        flex: 1;
        justify-content: space-between;
        width: 100%;
    }

    .header .logo-group {
        width: calc(100%-20px);
        gap: 20px !important;
    }

    .header .logo .logo-group img {
        max-width: 25%;
    }

    .header .logo .icon {
        width: 20px;
        display: block;
        cursor: pointer;
    }

    .header .menu-header {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .banner .banner-text {
        padding: 12vh 10vw;
    }

    .banner .banner-text img {
        width: 20vw;
    }

    .banner .banner-text p {
        width: 50%;
    }

    .programa {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .programa .sideA {
        flex: 1;
        padding: 0 10vw;
        margin: auto;
    }

    .programa .sideB {
        flex: 1;
        justify-content: center;
    }

    .programa .sideB p {
        width: fit-content;
    }

    .descricao {
        flex-direction: column;
        padding: 6vh 10vw;
        gap: 40px;
        height: fit-content;
    }

    .descricao .sideB {
        justify-content: center;
    }

    .datasImportantes .cardGroup {
        flex-direction: column;
        width: 100%;
        gap: 60px;
    }

    .datasImportantes .card {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        width: 100%;
    }

    .datasImportantes .card .line .partOne {
        background: white;
        flex: 0.49;
        height: 4px;
    }

    .datasImportantes .card .line .circle {
        background: white;
        border-radius: 50%;
        flex: 0.02;
        aspect-ratio: 1/1;
    }

    .diferenciais {
        padding: 6vh 20vw;
    }

    .diferenciais .cardGroup {
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    .diferenciais .cardGroup .card {
        gap: 12px;
        width: 100%;
        align-items: center;
    }

    .diferenciais .cardGroup .card img {
        max-height: 60px;
        width: 100%;
    }

    .perguntas {
        padding: 8vh 10vw;
    }

    .footer {
        flex-direction: column;
        padding: 8vh 10vw;
        gap: 60px;
    }

    .footer .sideB .linkGroup {
        flex-direction: column;
    }

    .logos {
        flex-direction: column;
        gap: 60px;
    }

    .logos img {
        height: 40px;
    }

    .exa {
        flex-direction: column;
        padding: 8vh 10vw;
        background-size: contain;
        gap: 60px;
    }

    .exa .sideA .video {
        width: auto;
        aspect-ratio: 16/9;
        border-radius: 10px;
    }

    .exacta {
        flex-direction: column;
        background-image: url(./assets/imgs/backgroundExACTa2.svg);
        padding: 8vh 10vw;
        background-size: contain;
        gap: 60px;
        flex-flow: column;
    }

    .exacta .sideA .video {
        width: auto;
        aspect-ratio: 16/9;
        border-radius: 10px;
    }
}